.category {
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    margin-bottom: 32px;
    margin-top:
            32px;
    &::-webkit-scrollbar {
        height: 0;
    }
}

.links {
    display: flex;

    &>*:not(:last-child) {
        margin-right: 12px;
    }

    .Button {
        border-radius: var(--radius-base);
        padding: 8px 16px;
        font-size: 12px;
        background: var(--secondary-bg);
        color: var(--secondary-color);
        transition: color .2s, background-color .2s;
        width: max-content;

        &.active {
            background: var(--active-bg);
            color: var(--active-color);
        }
    }
}